* text=auto eol=lf
fixtures/markdown/* -text whitespace=-blank-at-eol,-blank-at-eof,cr-at-eol
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.icns binary
*.ico binary
*.bin binary
*.pdf binary
*.docx binary
